:host {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #369;
  font-weight: 700;
  position: relative;
  display: block;
  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0;
  }
  &:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0;
  }
}
